.new_listing {
    width: 100%;
    height: calc(100vh - 75px);
    background-color: #AFD4C0;
    display: flex;
    justify-content: center;
}

.new_listing_content {
    height: 100%;
    width: 720px;
    background-color: #E5F4EC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_parent {
    width: 70%;
    border: solid black 1px;
}

.city_state_zip {
    display: flex;
    flex-direction: row;
}